<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="emp" class="harshada_spring.entity.Emp" scope="singleton">
		<property name="name" value="rohan"></property>
		<property name="id" value="2"></property>
		<property name="nation" ref="nation"></property>
		<!--<constructor-arg index="0" value="pooja"></constructor-arg>-->
		<constructor-arg index="0" value="2"></constructor-arg>
		<constructor-arg index="1" value="nikita"></constructor-arg>
	</bean>
	<bean id="nation" class="harshada_spring.entity.Nation">
		<!--<constructor-arg index="0" value="5"></constructor-arg>
		<constructor-arg index="1" value="India"></constructor-arg>-->
		<property name="name" value="India"></property>
		<property name="id" value="10"></property>
		
		
	</bean>
</beans>